html, body {
    height: 100%;
}
#app {
    font-family: 'Montserrat', sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
}
.content {
    background-color: #000000;

}
#header {
    background-color: #1ed760;
    height:10%;

}

#header-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    color: #000000;
}


.content {
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .2s
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0
}

#login-div {
    background-color: #1ED763;
    border-radius: 10px;
    height: 50%;
    position: relative;
}

#search-div-large {
    background-color: #1ED763;
    border-radius: 10px;
    display:block;
    overflow:auto;
    min-height:50%;
}
#search-div {
    padding: 2%
}

#go-icon {
    margin-right: 10%;
    float: right;
}
#search-line {
    font-family: 'Montserrat', sans-serif;
    list-style-type: none;
    background-color: #fefcff;
    cursor: pointer;
    cursor: hand;
}

#search-line:hover {
    background-color: #828282;
}

#search-input {
    padding: 2%;
    height: 50px;
    border-color: #000000;

}
#hide-button {
    padding: 10%;
}
#login-button {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    color: #ffffff;
    background-color: #828282;
    position: absolute;
    bottom: 10%;
}
#login-button:hover {
    background-color: #ecebe8;
    color: #000000;
}
#search-button {
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    color: #ffffff;
    background-color: #828282;
    border-color: #000000;
}
#search-button:hover {
    background-color: #ecebe8;
    color: #000000;
}

#footer {
    font-family: 'Montserrat', sans-serif;
    background-color: #1ed760;
    width: 100%;
    height: 50px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    text-align: center;
}

#select-sort {
    margin: 2%;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

#create-button {
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    color: #ffffff;
    background-color: #828282;
    border-color: #000000;
}
#create-button:hover {
    background-color: #ecebe8;
    color: #000000;
}
#tracks-selected-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    color: #000000;
    margin: 3%;
}

th {
    padding: 2%;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
}
td {
    padding: 2%;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    background-color: #ecebe8;
    border: 1px solid;
}

#album-title {
    padding: 1%;
}

input[type=checkbox] {
    transform: scale(1.5);
}
#footer-text {
    padding: 1%;
}


colours {
    background-color: #6FE89C;
    background-color: #43DE7D;
    background-color: #00D04D;
    background-color: #009C3A;
    background-color: #1ED763;
    background-color: #ecebe8; /* sand*/
    background-color: #828282; /* grey */
}