<html style="height:100%">
    <head>
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <title>Discogrify</title>
        <link rel="import" href="html/imports.html">
    </head>
    <header id="header" class="row align-center" >
        <p id="header-text" class="col col-6 push-middle">Discogrify</p>
    </header>
    <body>
        <div class="content" id="app" >
            <div class="row" style="width: 100%;height: 5%"></div>
            <div class="row align-center" v-if="loggedIn">
                <div id="login-div" class="col col-6">
                    <div class="col col-8 push-middle push-center">
                        <button class="button green large round" id="login-button" @click="login">
                            <i aria-hidden="false" class="fa fa-spotify"></i>
                            Please log in to Spotify</button>
                    </div>
                </div>
            </div>

            <div class="" v-else>
                <div v-if="!trackResultsPresent">
                    <div class="row align-center">
                        <div id="search-div-large" class="col col-6">
                            <div class="">
                                <transition name="fade">
                                    <div v-if="searchVisible">
                                            <div v-show="!searchResultsPresent" class="row" style="height: 17%"></div>
                                        <div style="padding:2%;" class="col col-10 push-middle push-center">
                                            <div id="search-div" class="append" style="padding: 2%;width: Auto; margin: 0 auto;">
                                                <input class="search" id="search-input" style="font-size: 22px" id="search-input" type="text" class="form-control" placeholder="Search artist..." v-on:keyup.enter="searchArtist" v-model="artist.name">
                                                <button class="button outline" id="search-button" type="button" v-on:click="searchArtist">Search</button>
                                            </div>

                                            <transition name="fade">
                                                <ul v-if="searchResultsPresent" style="width: Auto; margin: 0 auto;">
                                                    <li id="search-line" style="font-size: 20px;padding:2%; border: 2px solid;margin-left: 2%;margin-right: 2%" class="round"  v-for="artist in artistSearchResults">
                                                        <div v-on:click="getTracks(artist.id)">
                                                            {{ artist.name }}<i class="fa fa-arrow-circle-right" id="go-icon"></i>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </transition>
                                        </div>
                                    </div>
                                </transition>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row align-center" v-else>
                    <!-- Right column -->
                    <div :class="{'col col-8': searchVisible, 'col col-10': !searchVisible}" style="background-color: #1ED763;border-radius: 10px;">
                        <div class="row">
                            <p id="tracks-selected-text" class="col col-6"> Tracks selected: {{ checkedTracks.length }}</p>
                            <select v-model="sortOption" class="col col-4" id="select-sort" v-on:change="sortAlbums">
                                <option disabled value="">Sort by...</option>
                                <option v-for="option in sortOptions" :value="option.id">
                                    {{ option.text }}
                                </option>`
                            </select>
                        </div>
                        <div class="row">
                            <div class="col col-4 push-right">
                                <button id="create-button" v-on:click="publishPlaylist">Create playlist</button>
                            </div>
                        </div>
                        <table class="bordered" style="background-color: #ecebe8">
                            <thead>
                            <tr>
                                <th> <input style="float:right" type="checkbox" checked="true"></th>
                                <th>Album</th>
                                <th>Album artist(s)</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr  v-for="album in allAlbums" :key="album.id">
                                <td>
                                    <input type="checkbox">
                                </td>
                                <!-- Album column -->
                                <td  v-if="album.tracks.items.length > 0">
                                    <album v-model="checkedTracks" v-on:update="updateTrack" :album="album"></album>
                                </td>
                                <!-- Artists column -->
                                <td>
                                    <div >
                                        <div v-if="album.isVisible">
                                            <ul class="list-group">
                                                <li class="list-group-item" v-for="artist in album.artists">
                                                    {{ artist.name }}
                                                </li>
                                            </ul>
                                        </div>
                                        <div v-else>
                                            {{ album.artists[0].name }}<span v-if="album.artists.length > 1">, {{ album.artists.length -1  }} more</span>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div> <!-- End right column-->
                </div>
            </div>
        </div>

        <template id="album-col">
            <div id="album-title">
                <i aria-hidden="false" style="float:left" :class="{'ion-arrow-up-b': show, 'ion-arrow-down-b': !show}" v-on:click="show = !show">X&nbsp</i>
                <div>{{ album.name }}
                    <b>({{ album.tracks.items.length }} {{ album.tracks.items.length == 1 ? 'track' : 'tracks' }})</b>
                </div>
                <transition name="fade">
                    <div v-show="show">
                        <ul class="">
                            <li style="list-style-type: none;background-color: #ecebe8;padding: 10px 10px;border:1px solid" v-for="track in album.tracks.items">
                                <input type="checkbox"
                                       checked="checkedTracks.contains(track.id)"
                                       :value="track.id"
                                       v-model="checkedTracks"
                                       v-on:change="updateTrack($event.target.value)">
                                {{ track.name }}
                            </li>
                        </ul>
                    </div>
                </transition>

            </div>
        </template>
        <footer id="footer">
            <div id="footer-text">
                Brian Briscoe 2017
            </div>
        </footer>
        <script src="js/album.js"></script>
        <script src="js/app.js"></script>
    </body>
</html>
